API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=8474567893:AAHlN6oAUixFEbi4q4Z2ekS2wSXAMzydPBs
LOGGER_ID=-1001761290097
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=8071624543
STRING_SESSION=AQB86r0AmRXHb_1Lnx0tzk_tvqevI1sz72wkQ8FSADUf_rOsACiXKYF4XJTZVfvADjCVJjdbZbx3JVVEWu6RoBIDVV5eWhG9MstGpUgJxykADsoJElcqwwQ84cOmd0XML0S1KIFlbPCGtqm_NVOwioPAHEdqUzqHmO4HjGVObsyhSB1jI68aLsYemgckCoOi4S1UvlY36YcaPLFtxJybN_yqB-uRtBZK96FCJdR5tMw0-LHC17ro5KmJCm7zpHVaqfcABlFbtN2TG4-LIcZyb9fUGPzLFuvXYp_OwgmJ_Mv6kAWwIVu9I8KG0fW-eUJQq5VPX7iNV4CHmFuFA7MlvHcro0cx0gAAAAAlT3eWAA
