API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=7646334122:AAE9Zxke8xTFbNp6le7KlXNs_0iCXzNuKQo
LOGGER_ID=-1001761290097
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=8071624543
STRING_SESSION=BAGZZzwACv66SvGlbbQzdysWE26gIuPPigUXBc4Hu0EXXjVxc_BydYDeKDMyPNdF301XUVT7a80tWeObS8eLBkv_c_iiV5X5slrghRshIpk6f8P-tAy3iBlwl4Uo-u1kAf9_aAvekZzk2d2xCEUmY243il3VY6fJ0HXfAAqzzBNvHG6f_gsCGIr55Maz6HbNbTQ2DQltVeENwIwbEh4U0JML7jDtvqtkxsMVioWwi04QtK-FaVAfKEUCSRemnhviVQsfPlupSgmMMPqpRxYNzAxWBQg9fg4DHasY-Rbx_dGpX_fIhtWwMH97Rb91agF1xxgvpCWiJOuk0ekLcMgv5GsnN-3kIwAAAAFtS_u0AA
