API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=7646334122:AAE9Zxke8xTFbNp6le7KlXNs_0iCXzNuKQo
LOGGER_ID=-1001761290097
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=8071624543
STRING_SESSION=BAGZZzwAbWc-obwXSjWiXVv-uEuzoSAyiiFd-tJnyuBjOU05nwjxyMfDDxwly8tU6UF4mu-9xEML00tKXJ7AT6gDKEp1xe5YIErffc-4yQFJqVkmeaoX4RapSGGoiXY8wR4bF6G73I7Rellc7LUJd7Ungy7e_w4neaMSexu0bNm28gx3iQaApzSyo6A-m2Q9wjxyWxNZy8YexPDXuzbiM0RwUts4kUJAceNONryQfWOuPCdTzesc1X0fq7HjunNAomAMSzE-mM-5Dhnl2Pte9CbkX4yL1bQwhehAGdEv1WX0VxLRyHOCyII0D2oFmuTYceKvQ5FvRBsqYSxg22sZxBeZPguE7gAAAAFtS_u0AA
